.section1-about{
    margin-top: 70px;
        display: flex;
        gap: 60px;
        margin-left: 55px;
}
.section1-textabout{
    color: #0f172A;
        font: 16px sanito, sans-serif;

}
h2{
    color:#0f172A;
    font-family: arial;
}
.section1-about-image{
    width: 400px;
    height: 400px;
    border-radius: 4px;
}
.h5-about{
    color: #0f172A;
        font: 20px roboto, sans-serif;
        text-align: center;
        margin-bottom: 20px;

}
.food-list-about{
    display: flex;
        gap: 25px;
        margin-left: 40px;
        margin-right: 40px;

}
.firfir-about{
    width: 500px;
        height: 155px;
        object-fit: cover;
        overflow: clip;
        border-radius: 0.25rem;

}
.lafee-about {
    width: 500px;
    height: 155px;
    object-fit: cover;

    overflow: clip;
    border-radius: 0.25rem;

}
.dokkee-about{
        width: 500px;
            height: 150px;
            object-fit: cover;
        
            overflow: clip;
            border-radius: 0.25rem;
            margin-right: 40px;

}
.footer-about{
    background-color: black;
        width: 100%;
        height: 70px;
        margin-top: 30px;
}
.contact-div {
    background-color: #645fff;
    width: 80px;
    height: 25px;
    padding-left: 16px;
    border-radius: 4px;

    font-weight: bold;
    font-family: arial;

}