.all-main{
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 40px;
}
.sec2-beefpage{
    display: flex;
    gap: 15px;
}
.sec3-beefpage{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.burger-feef{
    width: 500px;
        height: 150px;
        object-fit: cover;
        overflow: clip;
        border-radius: 0.25rem;
}
.dokkee-beef{
    width: 500px;
        height: 150px;
        object-fit: cover;
        overflow: clip;
        border-radius: 0.25rem;
}
.lafee-beef{
    width: 500px;
        height: 150px;
        object-fit: cover;
    
        overflow: clip;
        border-radius: 0.25rem;
}
.firfir-beef{
    width: 500px;
        height: 150px;
        object-fit: cover;
        overflow: clip;
        border-radius: 0.25rem;

}