.body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.simply {
    margin-left: 30px;
}

.home {
    display: flex;
    gap: 25px;
    margin-top: 15px;
    font-family: arial;
}

.home a:hover {
    color: #645fff;
}

.button {
    border: none;
    color: white;
    font-weight: bold;
    margin-left: 400px;
    background-color: #645fff;
    font: 20px sans-serif;
    width: 100px;
    height: 31px;
    padding-left: 17px;
    transition: background-color 0.5s color 0.5s;

    padding-bottom: 3px;
    padding-top: 7px;
    border-radius: 6px;

}
.contact-text{
    color: white;
}

.button:active {
    opacity: 0. 8;
}
.contact-tect:hover{
    color: white;

}

.button:hover {
    opacity: 0.7;
    background-color: #2e2b77;
    color: white;


    
}
.sec1{
    height: 200px;
}

.egg {
    width: 1000px;
    
        margin-bottom: 40px;
    background-image: url(egg1.jpeg);
   
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;

    
    height: 200px;
    justify-self: center;
    object-fit: cover;
        overflow: clip;
        border-radius: 0.25rem;
        justify-content: center;
        justify-items: center;
}
.egg-text1{
    color: white;
    font-family: arial;
    padding-top: 50px;
}
.egg-text2{
    color: white;
    font-family: arial;

}

.sec2 {}

.foods {
    display: flex;

    gap: 15px;
    margin-top: 20px;


}

.menu {

    width: 200px;
    height: 150px;
    margin-left: 30px;


    grid-template-columns: 1fr 1fr 1fr;
    font-family: arial;
    ;


}

h4 {
    font-size: 1.563rem;
    margin-bottom: 15px;
    margin-top: 5px;
}

.tags {


    display: block;
    gap: 15px;



}

.tags a:hover {
    color: #645fff
}


.beef {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.648);
    margin-bottom: 8px;
}

.breakfast {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.648);
    margin-bottom: 8px;

}

.carrot {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.648);

    margin-bottom: 8px;
}

.food {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.648);
}




.firfir {
    width: 400px;
    height: 150px;
    object-fit: cover;
    overflow: clip;
    border-radius: 0.25rem;
}

.carne {
    color: rgba(0, 0, 0, 0.648);
}

.greek-reebs {}

.pre1 {
    color: rgba(0, 0, 0, 0.648);
    text-decoration: none;
}

.lafee {
    width: 400px;
    height: 150px;
    object-fit: cover;

    overflow: clip;
    border-radius: 0.25rem;
}

.carne {}

.pre2 {
    

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.425);
    font-family: arial;
    
}

h5 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 7px;

}
.sec3{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.space{

    width: 230px;
        height: 150px;
}
.dokkee{
    width: 400px;
     height: 150px;
     object-fit: cover;
     overflow: clip;
     border-radius: 0.25rem;

}
.burger{
    width: 400px;
    height: 150px;
    object-fit: cover;
    overflow: clip;
    border-radius: 0.25rem;

}
.pre4{
    margin-top: 3px;
}
.foot-container{
    height: 15px;
    
}
.footer{
    background-color: black;
    width: 100%;
    height: 70px;
    margin-top: 30px;

}
.text{
    color: white;
    font: 16px nunito, sans-serif;
    justify-self: center;
    padding-top: 25px;
    
}
.span-footer{
    color: #645fff;;
}
.coding a{

    
}